.kars{
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.kars ul{
display: flex;
gap: 35px;
align-items: center;
padding: 0;
}
li{
    list-style: none;
}

a{
    text-decoration: none;
    font-size: 15px;
    color: black;
}
.charli{
background: url('../foto/IMAGE\ \(1\).png');
height: 60vh;
background-repeat: no-repeat    ;
background-size: cover;
display: flex;
align-items: center;
justify-content: center;
text-align: center;
}
.charli{
    color: rgb(250, 242, 242);
    font-size: 40px;
}
.sat img{
    position: relative;
    bottom: 150px;
}
button{
    padding: 8px 30px;
    border-radius: 10px;
}

.tyc{
    padding-top: 2rem;
background-color: #FEFEC9;
text-align: center;
} 
.tyc p{
    margin: 0;
}
.tynchtyk{
    text-align: center;
    padding-top: 5rem;
}
.liw{
    display: flex;
gap: 5rem;
position: relative;
left: 400px;
}
.mi{
    background-color: #ecece3;
    display: flex;
    gap: 7rem;
    justify-content: center;
    text-align: center;
}
.aaa{
    text-align: center;
}
.xiomi{
    background-color: #d6d6c5;
}
.bbb{
    background-color: #d6d6c5;
}
.sss{
    background-color: #d6d6c5;
}
.tach{
    background-color: #ecece3;
    display: flex;
    gap: 7rem;
    justify-content: center;
    text-align: center;
}
.ccc{
    background-color: #c2c2b8;
}.css{
    background-color: #d6d6c5;  
}
.cbb{
    background-color: #b8b8b1;  
}
.ASUU h2{
text-align: center;

}
.asus{
    padding-top: 10rem;
    margin: 15px;;
    display: flex;
    gap: 8rem;
    justify-content: center;
    text-align: center;
}
.ttt{
    background-color:#c2c2b8 ;
}
.target{
    background-color: #c2c2b8 ;
}
.tacher{
    background-color: antiquewhite;
}
.block{
    display: flex;
    justify-content: center;
     padding-top: 50px;
     gap: 5rem;
 
     height: 70vh;

}
.tyncha {
    position: relative;
    left: 820px;
    padding-top: 5px;
}

  


.man1{
    padding-top: 80px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 15rem;
}
.fon{
    background-image: url(../foto/IMAGE\ \(311\).png);
    height:40vh ;

}
.fon{
padding-top: 10rem;
    display: flex;;
    text-align: center;
    justify-content: center;
    gap: 20rem;
}
.ck{
    display: grid;
    line-height: 20px;
}


